<a href="https://colab.research.google.com/github/ankitkumar0021/ankit/blob/master/Inheritnce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#class and object

In [13]:
class Phone:
  def make_call(self):
    print('making a phone call')
  def play_game(self):
    print('playing a game')

In [14]:
p1=Phone()

In [15]:
p1.make_call()

making a phone call

In [16]:
p1.play_game()

playing a game

In [17]:
class Phone:
  def set_color(self,color):
      self.color=color
  def set_cost(self,cost):
      self.cost=cost
  def show_color(self):
      return self.color
  def show_cost(self):
      return self.cost
  def make_call(self):
      print('making a phone call')
  def play_game(self):
      print('playing a game')

In [18]:
p2 = Phone()

In [19]:
p2.set_color('blue')

In [20]:
p2.set_cost(5000)

In [21]:
p2.show_color()

'blue'

In [22]:
p2.show_cost()

5000

In [23]:
#constructor

In [24]:
class Employee:
    def __init__(self,name,age,salary,gender):

        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender

    def show_employee_details(self):
        print('name of employee is',self.name)
        print('age of employee is',self.age)
        print('salary of employee is',self.salary)
        print('gender of employee is',self.gender)

In [25]:
e1 = Employee('Ram' , 20 , 30000  , 'Male')

In [26]:
e1.show_employee_details()

name of employee is Ram
age of employee is 20
salary of employee is 30000
gender of employee is Male

In [27]:
#Inheritence

In [28]:
class Vehicle:
    def __init__(self, mileage , cost):
      self.mileage = mileage
      self.cost = cost

    def show_vehicle_details(self):
      print('mileage of vehicle is' , self.mileage)
      print('cost of vehicle is ' , self.cost)
      print('I am a vehicle')

In [29]:
v1 = Vehicle(60,50000)

In [30]:
v1.show_vehicle_details()

mileage of vehicle is 60
cost of vehicle is  50000
I am a vehicle

In [31]:
class Car(Vehicle):
    def show_car_details(self):
      print('I am a car')
      print('I have speed of 200 kmph')
      print('i have MRF tyres')

In [32]:
c1 = Car(20,40000)

In [33]:
c1.show_car_details()

I am a car
I have speed of 200 kmph
i have MRF tyres

In [34]:
c1.show_vehicle_details()

mileage of vehicle is 20
cost of vehicle is  40000
I am a vehicle

In [35]:
#over_riding init method

In [37]:
class Car(Vehicle):
  def __init__(self,mileage,cost,tyres,hp):
    super().__init__(mileage,cost)
    self.tyres = tyres
    self.hp = hp

  def show_car_details(self):
    print('number of tyres in a car is ', self.tyres)
    print('horse power of car is ', self.hp)

In [38]:
c1 = Car(40,50000,4,20)

In [39]:
c1.show_car_details()

number of tyres in a car is  4
horse power of car is  20

In [67]:
#Multiple Inheritence
class Parent1:
  def assign_string_one(self,str1):
    self.str1 = str1

  def show_srting_one(self):
    return self.str1

In [56]:
class Parent2:
  def assign_string_two(self,str2):
    self.str2 = str2

  def show_srting_two(self):
    return self.str2

In [68]:
class Child(Parent1,Parent2):
    def assign_string_three(self,str3): 
      self.str3 = str3 

    def show_srting_three(self):
      return self.str3

In [69]:
my_child = Child()

In [70]:
my_child.assign_string_one('I am string of Parent1')

In [71]:

my_child.assign_string_two('I am string of Parent2')

In [72]:
my_child.assign_string_three('I am string of Child')

In [73]:
my_child.show_srting_one()

'I am string of Parent1'

In [74]:
my_child.show_srting_two()

'I am string of Parent2'

In [75]:
my_child.show_srting_three()

'I am string of Child'