<a href="https://colab.research.google.com/github/ankitkumar0021/ankit/blob/master/Oops_concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#class and object

In [9]:
class Phone:
  def make_call(self):
    print('making a phone call')
  def play_game(self):
    print('playing a game')

In [11]:
p1=Phone()

In [12]:
p1.make_call()

making a phone call

In [13]:
p1.play_game()

playing a game

In [32]:
class Phone:
  def set_color(self,color):
      self.color=color
  def set_cost(self,cost):
      self.cost=cost
  def show_color(self):
      return self.color
  def show_cost(self):
      return self.cost
  def make_call(self):
      print('making a phone call')
  def play_game(self):
      print('playing a game')

In [33]:
p2 = Phone()

In [34]:
p2.set_color('blue')

In [35]:
p2.set_cost(5000)

In [36]:
p2.show_color()

'blue'

In [37]:
p2.show_cost()

5000

In [41]:
#constructor

In [42]:
class Employee:
    def __init__(self,name,age,salary,gender):

        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender

    def show_employee_details(self):
        print('name of employee is',self.name)
        print('age of employee is',self.age)
        print('salary of employee is',self.salary)
        print('gender of employee is',self.gender)

In [43]:
e1 = Employee('Ram' , 20 , 30000  , 'Male')

In [44]:
e1.show_employee_details()

name of employee is Ram
age of employee is 20
salary of employee is 30000
gender of employee is Male

In [1]:
#Inheritence

In [2]:
class Vehicle:
    def __init__(self,mileage , cost):
      self.mileage = mileage
      self.cost = cost

    def show_vehicle_details(self):
      print('mileage of vehicle is' , self.mileage)
      print('cost of vehicle is ' , self.cost)
      print('I am a vehicle')

In [4]:
v1 = Vehicle(60,50000)

In [5]:
v1.show_vehicle_details()

mileage of vehicle is 60
cost of vehicle is  50000
I am a vehicle

In [11]:
class Car(Vehicle):
    def show_car_details(self):
      print('I am a car')
      print('I have speed of 200 kmph')

In [12]:
c1 = Car(20,40000)

In [13]:
c1.show_car_details()

I am a car
I have speed of 200 kmph

In [14]:
c1.show_vehicle_details()

mileage of vehicle is 20
cost of vehicle is  40000
I am a vehicle